* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
}

.preFullScreen {
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 70%;
    z-index: 1;
    background:rgb(255,255,255);
    padding-top: 5%;
    padding-bottom: 5%;
}

.mr {
    background-color: white;
    list-style: none;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .mr li {
    cursor: pointer;
    border: 1px solid black;
    height: 80%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.playerChoose {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 300px;
}

.game {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    height: 40%;
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border: 1px solid blue;
}

.scoreboard {
    display: flex;
    width: 100%;
    justify-content: space-around;
    font-size: 25px;
}

.game_buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

button {
    height: 100px;
    width: 100px;
    border: 1px solid red;
    cursor: pointer;
}

.chcecked {
    background-color: red;
}